
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-panels {
    position: relative;
    width: 10000%;
}

.carousel-panel {
    float: left;
    width: 1%;
}

.arrow-left,
.arrow-right {
    position: absolute;
    z-index: 1;
}

.arrow-left { 
    left: 0;
    height: 300px;
    margin: 0px ;
}
.arrow-right { 
    right: 0; 
    height: 300px;
    margin: 0px ;
}

.carousel-animated .carousel-panels {
    -webkit-transition: left .5s cubic-bezier(.86, 0, .07, 1);
       -moz-transition: left .5s cubic-bezier(.86, 0, .07, 1);
         -o-transition: left .5s cubic-bezier(.86, 0, .07, 1);
            transition: left .5s cubic-bezier(.86, 0, .07, 1);
}

.carousel-my {
    margin: 0 auto;
    padding: 50px 0;
    width: 300px;
    text-align: center;
}
 