body
{
    background-color: rgb(89, 89, 89);
    font-family: Arial;
}

table
{
    margin-left: auto;
    margin-right: auto;
}
thead td
{
    color: rgb(145, 146, 173);
    font-size: 1.5em;
}
td
{
    line-height: 28px;
    height: 33px;
} 

strong
{
    color: red;
    font-weight: 700;
}

#circle
{
    background: #66DB6A;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.left
{
    text-align: left;
    font-style: oblique;
    color: white;
   
}

.right
{
    color: #EDE2B4;
    position: relative;
    left: 40px;
   
}

.action
{
    color: #B6B9BB;
}

#answer
{
    font-weight: 700;
    color: #C07B00
}
