#tasks {
	padding: 15px;
	border: 1px solid black;
	background-color: #eee;
	list-style-type: none;
	float: left;
}

#tasks li p {
	display: inline;
	margin-right: 20px;
}

#title {
	margin: -10px 0 10px -10px;
	color:blue;
	border-bottom: 2px solid blue;
	font-weight: bold;
}

#tasks li:not(:first-child) {
	padding-bottom: 10px;
}

#remove {
	border: 1px solid blue;
	font-color: bold;
}
